@use "../config/" as *;
@use "sass:color" as *;
.btn {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--btn-radius, 50vmax);
  background-color: var(--btn-bg, var(--primary));
  color: var(--btn-color, var(--white));
  transition: 0.3s;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  &:hover {
    --btn-border: var(--btn-hover-after, var(--secondary));
    --btn-bg: var(--btn-hover, var(--secondary));
  }
  &:focus {
    outline: 1px solid var(--dark);
  }
}
