@use "../config/" as *;
.banner {
  width: 100%;
  min-height: 100svh;
  display: grid;
  place-content: center;
  padding: 2rem;
  position: relative;
  padding-block: 20rem ;
  place-items:center;
  &::after {
    content: "";
    background-position: top right;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  .vr-wrap {
    @include mq(md) {
      // width: 50%;
      width: 65%;
    }
    @include mq(lg) {
      // width: 50%;
      width: 100%;
    }
  }
  h3 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.6rem;
    margin-top: 5rem;
    margin-bottom: -8rem;
    text-transform: capitalize;
  }
  .circle-parent{
    .position-1{
      top: 18rem;
      left: 10%;
      @include mq(md) {
        left: 76%;
        top: 29%;
        scale: 1.3 !important;
      }
    }
    .position-2{
      right: 10%;
      translate: 40% !important;
      scale: .7 !important;
      @include mq(md) {
        left: 21%;
        top: 63%;
      }
    }
    .position-3{
      left: 53%;
      bottom: 10%;
      scale: 0.24 !important;
      @include mq(md) {
        left: 17%;
        top: 42%;
        scale: 0.4 !important;
      }
    } 
    .position-4{
      right: 15%;
      top: 15%;
      scale: 0.58 !important;
      @include mq(md) {
        left: 76%;
        top: 86%;
      }
    }
    .position-5{
      left: 7%;
    scale: .24 !important;
    top: 19rem;
    @include mq(md) {
      left: 75%;
        top: 29%;
    }
    }
    .position-6{
      left: 14%;
      top: 59%;
      z-index: -1;
      @include mq(md) {
           left: 27%;
      top: 33%;
        scale: 1.3 !important;
      }
    }
    .position-7{
      right: 14%;
      top: 29%;
      scale: 0.54 !important;
      @include mq(md) {
        left: 75%;
    top: 60%;

      }
    }
    .position-8{
      right: 21%;
      top: 33%;
      @include mq(md) {
        left: 74%;
        top: 55%;
        scale: 1.1 !important;
      }
    }
    .position-9{
      bottom: 14%;
      left: 46%;
      scale: 0.5 !important;
      @include mq(md) {
        left: 23%;
        scale: 0.3 !important;
        top: 62%;
      }
    }
  }
}
